Repository FRONTENDBOOTCAMP-13th/12zizo, pull requests merged in 2025-03, with the labels that each got.

#11 🐳 Chore: 기본 변수 세팅
  src/style.css
Labels: setting

#43 🎨 Feat: 교육용 페이지 안내 모달창 컴포넌트 생성
  src/components/modal.html
Labels: component

#44 🎨Feat: header-bar tool-tip 컴포넌트 생성
  src/components/header.html
Labels: component

#45 ✨ feat: 기능 추가, 변경 🔥 remove : 파일이나 코드 삭제💄 style: 코드 형식, 정렬, 주석 등의 변경
  index.html
  src/components/image-carousel.html
  src/components/top20-image-carousel.html
Labels: component

#65 로그인 페이지 생성
  src/components/login-button.html
  src/pages/login.html
Labels: pages

#64 ✨ feat: 기능 추가, 변경
  src/pages/landing-page.html
Labels: pages

#61 🎨Feat : 프로필 전환 페이지 생성
  src/pages/profile_switch.html
Labels: pages

#63 🎨Feat : 프로필 편집 페이지 생성
  src/pages/profile_edit.html
Labels: pages

#69 🎨Feat : 비밀번호 찾기 페이지 생성
  src/pages/password-search.html
Labels: pages

#75 💄index파일에 a태그 추가 및 컴포넌트 title 수정
  index.html
  src/components/common-image-carousel.html
  src/components/footer.html
  src/components/header.html
  src/components/image-carousel.html
  src/components/live-ranking-component.html
  src/components/login-button.html
  src/components/login-input.html
  src/components/logout.html
  src/components/modal.html
  src/components/original.html
  src/components/profile-change.html
  src/components/search.html
  src/components/top20-image-carousel.html
  src/components/transparent-button.html
Labels: setting

#89 로그인 페이지 수정
  src/pages/login.html
Labels: cleanup, pages

#91 회원가입 페이지 수정
  src/pages/join-in-page.html
Labels: cleanup, pages

#90 아이디 찾기 페이지 수정
  src/pages/id-search.html
Labels: cleanup, pages

#93 💄프로필 전환 페이지 푸터 및 접근성 관련 코드 수정
  src/pages/profile_switch.html
Labels: cleanup, pages

#83 💄비밀번호 찾기 페이지 접근성 관련 코드 추가
  src/pages/password-search.html
Labels: cleanup, pages

#125 회고 작성
  src/md/jinhyun.md
Labels: documentation

#126 📝 md파일 회고록 작성
  src/md/youngchan.md
Labels: documentation

#212 프로필 전환 페이지 문법검사
  src/pages/profile-switch-page.html
Labels: bug

#223 프로필 관련 페이지 수정
  src/pages/profile-edit-page.html
  src/pages/profile-switch-page.html
Labels: bug, pages
